<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}{% endblock %}</title>
    <style>
        .navbar {
            background-color: #ffffff;
            overflow: hidden;
        }
        .navbar a {
            float: left;
            display: block;
            color: #000000;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        .navbar a:hover {
            background-color: #d9d2e9;
            color: black;
        }
        .content {
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('dashboard') }}">Home</a>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
        <a href="{{ url_for('my_bookings') }}">My Flights</a>
        <a href="{{ url_for('book') }}">Booking</a>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
