{% extends "base.html" %}
{% block title %}Book a Flight{% endblock %}
{% block content %}
    <div class="booking-container">
        <h1>Book a Flight</h1>
        <input type="text" id="startLocation" placeholder="Start Location" onkeyup="filterFlights()">
        <input type="text" id="endLocation" placeholder="End Location" onkeyup="filterFlights()">
        <form action="{{ url_for('checkout') }}" method="get">
            <div class="flight-grid">
                {% for flight in flights %}
                    <div class="flight-box" data-flight="{{ flight.getFlightId() }} - {{ flight.getFlightDepartingLocation() }} to {{ flight.getFlightDestinationLocation() }} at {{ flight.getFlightTime() }} - ${{ flight.getFlightPrice() }}">
                        <input type="radio" name="flight_id" value="{{ flight.getFlightId() }}">
                        <div class="flight-header">
                            <p><strong>Flight ID:</strong> {{ flight.getFlightId() }}</p>
                        </div>
                        <div class="flight-details">
                            <p><strong>From:</strong> {{ flight.getFlightDepartingLocation() }}</p>
                            <p><strong>To:</strong> {{ flight.getFlightDestinationLocation() }}</p>
                            <p><strong>Date and Time:</strong> {{ flight.getFlightTime() }}</p>
                            <p><strong>Price:</strong> ${{ flight.getFlightPrice() }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="submit-button">Book Flight</button>
        </form>
    </div>
    <script>
        function filterFlights() {
            var startLocation = document.getElementById('startLocation').value.toLowerCase();
            var endLocation = document.getElementById('endLocation').value.toLowerCase();
            var flightBoxes = document.getElementsByClassName('flight-box');
            
            for (var i = 0; i < flightBoxes.length; i++) {
                var flightText = flightBoxes[i].getAttribute('data-flight').toLowerCase();
                var parts = flightText.split(' - ')[1].split(' to ');
                var departure = parts[0];
                var destination = parts[1].split(' at ')[0];
                
                if ((departure.includes(startLocation) || startLocation === '') &&
                    (destination.includes(endLocation) || endLocation === '')) {
                    flightBoxes[i].style.display = '';
                } else {
                    flightBoxes[i].style.display = 'none';
                }
            }
        }
    </script>
{% endblock %}
