{% extends "base.html" %}
{% block title %}My Bookings{% endblock %}
{% block content %}
    <div class="bookings-container">
        <h1>My Bookings</h1>
        <div class="booking-grid">
            {% for booking in bookings %}
                <div class="booking-box">
                    <div class="booking-header">
                        <p><strong>Flight ID:</strong> {{ booking.flight.getFlightId() }}</p>
                    </div>
                    <div class="booking-details">
                        <p><strong>From:</strong> {{ booking.flight.getFlightDepartingLocation() }}</p>
                        <p><strong>To:</strong> {{ booking.flight.getFlightDestinationLocation() }}</p>
                        <p><strong>Date and Time:</strong> {{ booking.flight.getFlightTime() }}</p>
                        <p><strong>Price:</strong> ${{ booking.flight.getFlightPrice() }}</p>
                        <p><strong>Seat Number:</strong> {{ booking.seat }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
