{% extends "base.html" %}
{% block title %}In-Flight Services{% endblock %}
{% block content %}
    <div class="services-container">
        <h1>In-Flight Services</h1>
        <div class="service">
            <h2>Alcohol</h2>
            <p>Delicious drinks and yummy cocktails.</p>
        </div>
        <div class="service">
            <h2>Vomit Bag</h2>
            <p>Fresh, not used</p>
        </div>
        <div class="service">
            <h2>Wi-Fi Access</h2>
            <p>Stay connected with our super good 5g Wifi</p>
        </div>
        <div class="service">
            <h2>Premium Entertainment</h2>
            <p>Get access to Netflix, Hulu and Paramount+ with our entertainment package.</p>
        </div>
        <div class="service">
            <h2>Blanket</h2>
            <p>You get a blanket</p>
        </div>
    </div>
{% endblock %}